---
import { cn } from "mizuhara/utils";
import { docsConfig } from "~/config/docs";

interface Props {
  pathname: string;
}

const { pathname } = Astro.props;
---

<div class="w-full">
  {
    docsConfig.sidebarNav.map((item) => (
      <div class="pb-8">
        <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">
          {item.title}
        </h4>

        <div class="grid grid-flow-row auto-rows-max text-sm">
          {item.items.map((item) =>
            !item.disabled && item.href ? (
              <a
                href={item.href}
                class={cn(
                  "group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline text-muted-foreground",
                  {
                    "text-foreground": item.href.includes(pathname),
                  },
                )}
              >
                {item.title}
              </a>
            ) : (
              <span class="flex w-full cursor-not-allowed items-center rounded-md p-2 opacity-60">
                {item.title}
              </span>
            ),
          )}
        </div>
      </div>
    ))
  }
</div>
